<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	th:href="@{/panel/css/materialize.min.css}" media="screen,projection" />

<link type="text/css" rel="stylesheet" th:href="@{/panel/css/main.css}"
	href="css/main.css" media="screen,projection" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />


<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Vestibular Agendado</title>

</head>

<body>
	<nav class="deep-orange lighten-1">
		<div class="nav-wrapper">
			 <a
				href="#" data-target="slide-out" class="sidenav-trigger"><i
				class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/painel/candidato/"><i
						class="material-icons left">people</i>Candidatos</a></li>
				<li><a href="/painel/"><i class="material-icons left">school</i>Redações
						Pendentes</a></li>
				<li><a href="/painel/prontas"><i
						class="material-icons left">school</i>Redações Corrigidas</a></li>
				<li><a href="/temas/"><i class="material-icons left">book</i>Tema</a></li>

			</ul>
		</div>
		<ul id="slide-out" class="sidenav">
			<li><a href="/painel/candidato/"><i
					class="material-icons left">people</i>Candidatos</a></li>
			<li><div class="divider"></div></li>
			<li><a href="/painel/"><i class="material-icons left">school</i>Redações
					Pendente</a></li>
			<li><div class="divider"></div></li>
			<li><a href="/painel/prontas"><i class="material-icons left">school</i>Redações
					Corrigidas</a></li>
			<li><div class="divider"></div></li>
			<li><a href="/temas/"><i class="material-icons left">book</i>Temas</a></li>
			<li><div class="divider"></div></li>

		</ul>
		<a href="#" data-target="slide-out" class="sidenav-trigger"><i
			class="material-icons">menu</i></a>

	</nav>
	<div class="container-fluid">
		<div class="section no-pad-bot" id="index-banner">


			<h4 class="header center orange-text">Candidatos</h4>
			<div class="row">
				<div class="col s12 m12">
					<div class="card">

						<div class="card-content">

							<table id="table" class="display">
								<thead>
									<tr>
										<th>#</th>
										<th>Nome do Candidato</th>
										<th>Curso</th>
										<th>Telefone</th>
										<th>CPF</th>
										<th>Qnt. Redações</th>
										<th>Status Correção</th>
										<th>Ver Dados</th>

									</tr>
								</thead>

								<tbody>

									<th:block th:each="candidato : ${candidatos}">
										<tr>
											<td th:text="${candidato.idCandidato}"></td>

											<td th:text="${candidato.nome}"></td>
											<td th:text="${candidato.curso}"></td>
											<td th:text="${candidato.telefone}"></td>
											<td th:text="${candidato.cpf}"></td>
											<td th:text="${candidato.quantidadeRedacoesRelizadas}"></td>
											<td th:text="${candidato.statusRedacao}"></td>

											<td>
												<button class="waves-effect waves-light btn modal-trigger"
													href="#modal"
													th:onclick="mostrarModal('[[${candidato.idCandidato}]]')">Ver
													Dados</button>
										</tr>
									</th:block>


								</tbody>
							</table>

							<div id="modal" class="modal">
								<div id="modal-shell" th:fragment="modal-candidato">
									<div class="modal-content">
										<h4 th:text="${candidato.nome}"></h4>
										<p>
											<span th:text="'CPF: '+${candidato.cpf}"></span>
										</p>
										<p>
											<span th:text="'E-mail: '+${candidato.email}"></span>
										</p>
										<p>
											<span th:text="'RG: '+${candidato.rg}"></span>
										</p>
										<p>
											<span th:text="'Espedidor: '+${candidato.orgaoExpedidor}"></span>
										</p>
										<p>
											<span th:text="'UF: '+${candidato.uf}"></span>
										</p>
										<p>
											<span th:text="'Naturalidade: '+${candidato.naturalidade}"></span>
										</p>
										<p>
											<span th:text="'Nascimento: '+${#dates.format(candidato.nascimento,'dd/MM/yyyy')}"></span>
										</p>
										<p>
											<span th:text="'Curso: '+${candidato.curso}"></span>
										</p>
										<p>
											<span th:text="'Telefone: '+${candidato.telefone}"></span>
										</p>
										<p>
											<span
												th:text="'Telefone Complementar: '+${candidato.telefoneComplementar}"></span>
										</p>
										<p>
											<span th:text="'Rua: '+${candidato.logadouro}"></span>
										</p>
										<p>
											<span th:text="'Numero: '+${candidato.numero}"></span>
										</p>
										<p>
											<span th:text="'Bairro: '+${candidato.bairro}"></span>
										</p>
										<p>
											<span th:text="'Cidade: '+${candidato.cidade}"></span>
										</p>

									</div>
									<div class="modal-footer">
										<a href="#!"
											class="modal-close waves-effect waves-green btn-flat">Fechar</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>






	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/panel/js/materialize.min.js}"
		src="js/materialize.min.js"></script>
	<script type="text/javascript" th:src="@{/panel/js/table.min.js}"
		src="js/table.min.js"></script>
	<script type="text/javascript" th:src="@{/panel/js/main.js}"
		src="js/main.js"></script>






</body>
</html>
